{
    --wp-admin-theme-color: #007cba
;
    --wp-admin-theme-color-darker-10: #006ba1
;
    --wp-admin-theme-color-darker-20: #005a87
;
    line-height: 1.2
;
    font-size: 15px
;
    font-family: 'overpass', sans-serif
;
    color: #545759
;
    box-sizing: inherit
;
    transition: all 0.3s ease-in-out 0s
;
    opacity: 1
;
    transform: translateY(0)
;
    border-bottom: 1px solid #e3e3e3
;
    padding-bottom: 10px
;
}

<head>

</head>

  <p>This is a paragraph </p>