/*Home page*/
.nav {
    display: flex;
    gap: 3rem;
    padding-top: 2%;
    font-family: "Kannada MN", sans-serif;
    justify-content: center;

}
.nav a{
    text-shadow: 2px 4px 4px #2c2705;

}

.nav{
    a:link{
        text-decoration: none;
        color: whitesmoke;
    }
    a:visited {
        text-decoration: none;
        color: whitesmoke;
    }
    a:hover {
        font-size: larger;
        color: goldenrod;
    }
    a:active {
        text-decoration: goldenrod;
        color: goldenrod;
        font-size: larger;
    }
}
.below {
    display: grid;
    grid-template-columns: 30% 30%;
    margin-top: 300px;
}

#active{
    color: goldenrod;
    font-size: larger;
}

#line {
    margin-left: 70%;
    background-color: whitesmoke;
    height: 300px;
    width: 2px;
}

#name{
    font-size: 40px;
    font-family: "Kannada MN", system-ui ;
    color: whitesmoke;
}

#port{
    font-size: 200px;
    font-family: Montserrat, serif;
    color: darkgoldenrod;
    margin-top: -10%;

}







/*About me page*/
.page_2 {
    display: flex;
    gap: 5%;
    margin-top: 20vw;
    justify-content: center;
}

.pic_div{
    width: 300px;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
}

.pic_div img{
    width: 300px;
    height: 240px;
    transition: transform .5s ease-in-out;
}
.pic_div img:hover{
    transform: scale(125%);
}

.About_me{
    margin-top: -7%;
    width: 500px;
}
.About_me h1{font-size: 40px}
.About_me p{font-size: 25px}






/*My Skills*/
.white{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.95;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 120px;
    height: 700px;
    width: auto;
}

.white h1{
    font-family: "Kannada MN", sans-serif;
    text-align: center;
    color: goldenrod;
    padding: 50px;
}

.skills{
    display: flex;
    gap: 5em;
    justify-content: center;
}
.skills p {
    font-family: "Kannada MN", sans-serif;
    font-size: 18px;
    color: white;
}
.progressbar {
    background-color: whitesmoke;
    height: 10px;
    width: 600px;
    border-radius: 5px;
}
.progressbar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
    background-color: goldenrod;
}
.progressbar div span{
    font-size: smaller;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2c2705;
    border: 2px solid goldenrod;
    float: right;
    margin-top: -10px;
    margin-right: -25px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*animations*/
.python{
    animation: python 1s linear forwards;
}
.java{
    animation: java 1s linear forwards;
}
.c\+\+{
    animation: c\+\+ 1s linear forwards;
}
.js{
    animation: js 1s linear forwards;
}
.html{
    animation: html 1s linear forwards;
}
.adobe{
    animation: adobe 1s linear forwards;
}
.DA{
    animation: DA 1s linear forwards;
}
.com{
    animation: com 1s linear forwards;
}

@keyframes python{
    100%{width: 90%}
}
@keyframes java{
    100%{width: 80%}
}
@keyframes c\+\+{
    100%{width: 70%}
}
@keyframes js{
    100%{width: 60%}
}
@keyframes html{
    100%{width: 70%}
}
@keyframes adobe{
    100%{width: 70%}
}
@keyframes DA{
    100%{width: 80%}
}
@keyframes com{
    100%{width: 90%}
}






/*Services*/
.container{
    margin-top: 10%;
    background-color: rgba(211, 196, 196, 0.7);
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    height: 50%;
}

.container h1{
    padding-top: 50px;
    text-align: center;
    font-family: "Kannada MN", sans-serif;
}

.sec_container{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
}

.sec_container div{
    padding: 10px;
    font-size: larger;
    text-align: center;
    width: fit-content;
}






/*FAQ*/
.faq_container {
    margin-top: 40px;
    color: whitesmoke;
    font-family: "Kannada MN", sans-serif;
}
.faq_container h1 {
    text-align: center;
    color: goldenrod;
}
.faq_container h2 {
    margin-top: 30px;
    color: goldenrod;
}
.faq-item {
    margin-bottom: 20px;
}
.faq-item h3 {
    margin-bottom: 10px;
}

.foot{
    background-color: whitesmoke;
    width: 100%;
    height: 30px;
}





/*Client Reviews*/
.for_reviews{
    margin-top: 10%;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    height: 50%;
}
.reviews_container{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    padding-bottom: 50px;

}
.divider {
    background: black;
    height: 300px;
    width: 2%;
}
.for_reviews h1{
    padding-top: 50px;
    text-align: center;
    font-family: "Kannada MN", sans-serif;
}
.for_reviews h2{
    margin-bottom: 80px;
}
.reviews_container div{
    padding: 10px;
    font-size: larger;
}






/*Contact me*/
.container_contact_me{
    display: flex;
}

.email_form{
    flex: 50%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    width: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-in-out;
}

.email_form:hover{
    transform: scale(105%);
    box-shadow: 6px 8px 12px goldenrod;
}
.get_in_touch{
    color: black;
    font-family: "Kannada MN", sans-serif;
}
.get_in_touch_line{
    height: 7px;
    width: 100px;
    background: black;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.field{
    border: 2px solid #d2d2d3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 95%;
    height: fit-content;
    background: white;
    color: black;
    font-size: 16px;
    font-family: "Kannada MN",sans-serif;
}
.contact{
    flex: 50%;
    margin-top: 10%;
}
.contact h3{
    color: goldenrod;
    font-size: 60px;
    margin-bottom: -5px;
}
.contact p{
    color: white;
    font-size: larger;
    font-style: italic;
}
.contact h4{
    color: white;
    font-size: larger;
}
.button{
    font-family: "Kannada MN", sans-serif;
    font-size: 20px;
    align-content: center;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background: black;
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.email_form .button:active {
    background: white;
    color: black;
}
.email_form .button:hover{
    transform: scale(125%);
}




/*Sign Up*/
.container_sign_up{
    display: flex;
    gap: 3em;
    justify-content: center;
    font-family: "Kannada MN", sans-serif;
    margin-top: 10em;
}

.sign_up_form{
    height: 50%;
    width: 30%;
    background-color: #ffffff;
    border-radius: 0 25px 0 25px;
    padding: 20px;
    transition: transform .2s ease-in-out;
}

.sign_up{
    color: goldenrod;
}
.sign_up_line{
    height: 7px;
    width: 100px;
    background: goldenrod;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.sign_up_form .field {
    border: 2px solid #d2d2d3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 95%;
    height: fit-content;
    background: white;
    color: black;
    font-size: 16px;
    font-family: "Kannada MN",sans-serif;
}

.container_sign_up .button {
    font-family: "Kannada MN", sans-serif;
    font-size: 20px;
    align-content: center;
    height: 40px;
    width: fit-content;
    border-radius: 5px;
    background: goldenrod;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.sign_up_form .button:active {
    background: #000000;
    color: #ffffff;
}
.sign_up_form .button:hover{
    transform: scale(125%);
}
.s_image{
    font-style: italic;
    color: lightslategrey;
}
#s_country{
    width: 50%;
}
.error{
    border: 5px solid red;
    z-index: 5;
}
.footer{
    position: absolute;
    color: #4f4f4f;
    bottom: 1px;
    font-family: "Kannada MN", sans-serif;
    font-size: 1rem;
    background: #ffffff;
    width: 100%;
    padding: 5px;
    text-align: center;
}